# Cache directories
.rebar
.vagrant
.eunit

# Build artifacts
ebin/
*.beam
.global_plt.*
*.plt

# IDE Stuff
*.iml
.idea

# Generated documentation
doc/

# Logfiles
logs/

# Crash dumps and temporary files
erl_crash.dump
*~